@charset "utf-8";

// Import a Google Font
@import url('https://rsms.me/inter/inter-ui.css');

// Set your brand colors

// Navbar
$navbar-height: 5rem;

// Update Bulma's global variables
$family-sans-serif: 'Inter UI', sans-serif;
$widescreen-enabled: true;
$fullhd-enabled: false;

// Update some of Bulma's component variables

// Import only what you need from Bulma
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/form.sass';
@import '~bulma/sass/elements/title.sass';
@import '~bulma/sass/components/navbar.sass';
@import '~bulma/sass/layout/hero.sass';
